<link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<b>Search</b>

<div class="row">
    <div class="col-sm-10">
        Id: <input type="text" id="textSearchId" />
        FirstName: <input type="text" id="textSearchFirstName" />
        LastName: <input type="text" id="textSearchLastName" />
        Address: <input type="text" id="textSearchAddress" />
        PhoneNum: <input type="text" id="textSearchPhoneNum" />
        <input type="button" id="SearchContact" value="Search" class="btn btn-success" /> <br />
    </div>
</div>
<br /><b>API Functions</b><br />
<div class="row">
    <div class="col-sm-10">
        <input type="button" id="GetallData" value="Get All Data" class="btn btn-success" />
    </div>
    <div>
        <input type="button" id="AddContact" value="Add contact" class="btn btn-primary" /> <br />
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <input type="text" id="textGetContact" value="Enter id 4 get contact" />
        <input type="button" id="GetContact" value="Get contact data" class="btn btn-success" /> <br />
        <input type="text" id="textDelete" value="Enter id 4 delete" />
        <input type="button" id="DeleteContact" value="Delete contact" class="btn btn-danger" /> <br />
    </div>
</div>


@*<input type="button" id="EditContact" value="Edit contact" /> <br />*@

<div id="updateDiv">
    <br /><b>Data</b>
    <table id="tblPopulation" class="table table-striped table-condensed table-bordered" >
        <tr>
            <th>Id</th>
            <th>Phone number</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Address</th>
        </tr>
    </table>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#GetallData").click(function () {
            $("#tblPopulation").show();
            $.ajax({
                url: 'http://localhost:43854/api/Contacts',
                dataType: "json",
                type: "Get",
                //contentType: 'application/json; charset=utf-8',
                //data: {Id:Id},
                success: function (data) {
                    var tr;
                    for (var i = 0; i < data.length; i++) {
                        tr = tr + "<tr>";
                        tr = tr + "<td>" + data[i].Id + "</td>";
                        tr = tr + "<td>" + data[i].PhoneNum + "</td>";
                        tr = tr + "<td>" + data[i].FirstName + "</td>";
                        tr = tr + "<td>" + data[i].LastName + "</td>";
                        tr = tr + "<td>" + data[i].Address + "</td>";
                        tr = tr + "</tr>";
                    }
                    $('#tblPopulation').append(tr);
                    tblFormate();
                },
                error: function (xhr) {
                    alert('No Valid Data');
                }
            });

            function tblFormate() {

                var table = $('#tblPopulation').DataTable(
                    {
                        //"searching": false,
                        "lengthMenu": [[5, 10, 50, 100, 150, -1], [5, 10, 50, 100, 150, "All"]]
                    });
                //Apply the search
                table.columns().eq(0).each(function (colIdx) {
                    $('input', table.column(colIdx).header()).on('keyup change', function () {
                        table
                            .column(colIdx)
                            .search(this.value)
                            .draw();
                    });
                });
            }
        });

        $("#GetContact").click(function () {
            $.ajax({
                url: 'http://localhost:43854/api/contacts/' + $('#textGetContact').val(),
                dataType: "json",
                type: "Get",
                contentType: 'application/json',
                //data: {Id:Id},
                success: function (response) {
                    alert("Contact data\nId: " + response.Id + "\nFirstName: " + response.FirstName + "\nLastName: " + response.LastName + "\nAddress: " + response.Address + "\nPhoneNum: " + response.PhoneNum);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });

        $("#AddContact").click(function () {
            $.ajax({
                url: 'http://localhost:43854/api/contacts/AddContact',
                type: "POST",
                contentType: "application/json",
                //data: contact2,
                data: JSON.stringify({
                    //Id : 10,
                    PhoneNum: Math.floor((Math.random() * (99999999 - 1) + 1)).toString(),
                    FirstName: "Simon",
                    LastName: "Ceglar",
                    Address: "Hrusica 77C"
                }),
                dataType: "json",
                success: function (response) {
                    alert("Contact added\nFirstName: " + response.FirstName + ".\nLastName: " + response.LastName + "\nAddress: " + response.Address + "\nPhoneNum: " + response.PhoneNum);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });

        $("#DeleteContact").click(function () {
            $.ajax({
                url: 'http://localhost:43854/api/contacts/Delete/?id=' + $('#textDelete').val(),
                type: "DELETE",
                contentType: "application/json",
                dataType: 'json',
                success: function (response) {
                    alert("Contact with id was deleted: " + $('#textDelete').val());
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });

        $("#EditContact").click(function () {
            $.ajax({
                url: 'http://localhost:43854/api/contacts/EditContact',
                type: "POST",
                contentType: "application/json",
                //data: contact2,
                data: JSON.stringify({
                    Id: 1,
                    PhoneNum: "031786757",
                    FirstName: "Simon",
                    LastName: "Ceglar",
                    Address: "Hrusica 77C"
                }),
                dataType: "json",
                success: function (response) {
                    alert("Contact updated\nId:" + response.Id + "\nFirstName: " + response.FirstName + ".\nLastName: " + response.LastName + "\nAddress: " + response.Address + "\nPhoneNum: " + response.PhoneNum);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });

        $("#SearchContact").click(function () {
            $("#tblPopulation").show();
            $.ajax({
                url: 'http://localhost:43854/api/contacts/SearchContact',
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    Id: $('#textSearchId').val(),
                    PhoneNum: $('#textSearchPhoneNum').val(),
                    FirstName: $('#textSearchFirstName').val(),
                    LastName: $('#textSearchLastName').val(),
                    Address: $('#textSearchAddress').val()
                }),
                dataType: "json",
                success: function (data) {
                    var tr;
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        tr = tr + "<tr>";
                        tr = tr + "<td>" + data[i].Id + "</td>";
                        tr = tr + "<td>" + data[i].PhoneNum + "</td>";
                        tr = tr + "<td>" + data[i].FirstName + "</td>";
                        tr = tr + "<td>" + data[i].LastName + "</td>";
                        tr = tr + "<td>" + data[i].Address + "</td>";
                        tr = tr + "</tr>";
                    }
                    $('#tblPopulation').append(tr);
                    tblFormate();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });

    });
</script>